.App {
  font-family: sans-serif;
  text-align: center;
}

.heading {
  display: flex;
}
.tab-head {
  padding: 3px;

  border: 1px solid black;
}
.tab-body {
  height: 200px;
  width: 200px;
  display: flex;
  border: 1px solid black;
  cursor: pointer;
}
